[user]
	name = ziem24
	email = 105926805+ziem24@users.noreply.github.com
[init]
	defaultBranch = main
[credential]
	helper = cache --timeout=3600
[push]
	autoSetupRemote = true
[includeIf "gitdir:~/Documents/Studia/Repos/"]
    path = ~/Documents/Studia/Repos/.gitconfig-stud
[core]
	editor = nano
[alias]
	pretty-log = log --all --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
