[user]
	name = Tomasz Dziekański
	email = 01197468@pw.edu.pl
[init]
	defaultBranch = main
[credential]
	helper = cache --timeout=3600
[push]
	autoSetupRemote = true
[includeIf "gitdir:~/Documents/Private/Repos/"]
    path = ~/Documents/Private/Repos/.gitconfig-private
[core]
	editor = nano
[alias]
	pretty-log = log --all --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
