[user]
	name = Tomasz Dziekański
	email = 01197468@pw.edu.pl
[init]
	defaultBranch = main
[credential]
	helper = cache --timeout=3600
[push]
	autoSetupRemote = true
[includeIf "gitdir:~/Documents/Private/Repos/"]
    path = ~/Documents/Private/Repos/.gitconfig-private
